<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prescriptions</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Prescriptions</h1>
<ul>
    <li th:each="prescriptionEntity : ${prescriptionEntities}">
        <span th:text="${prescriptionEntity.medication}"></span> -
        <button th:if="${prescriptionEntity.refillable}"
                th:onclick="'/pharmacist/dispense/' + ${prescriptionEntity.id}">
            Dispense
        </button>
    </li>
</ul>
</body>
</html>
