<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - Prescription Management System</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Welcome to the Prescription Management System</h1>
<div class="nav-buttons">
    <button onclick="location.href='/physician'">Physicians</button>
    <button onclick="location.href='/patient'">Patients</button>
    <button onclick="location.href='/pharmacist'">Pharmacists</button>
</div>
</body>

</html>
