<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prescription History</title>
</head>
<body>
<h1>Prescription History for <span th:text="${patient.name}"></span></h1>
<ul>
    <li th:each="prescriptionEntity : ${patient.prescriptionEntities}">
        <p th:text="'Medication: ' + ${prescriptionEntity.medication}"></p>
        <p th:text="'Issued on: ' + ${prescriptionEntity.issueDate}"></p>
        <p th:text="'Refills remaining: ' + ${prescriptionEntity.refillsRemaining}"></p>
    </li>
</ul>
</body>
</html>
