<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Physician Home</title>
</head>
<body>
<h1>Physician Prescriptions Given</h1>
<ul>
    <th:block th:each="prescriptionEntity : ${prescriptionEntities}">
        <li th:text="'Prescription ID: ' + ${prescriptionEntity.prescriptionID}"></li>
    </th:block>
</ul>
<a href="/add-patient">Add Patient</a> | <a href="/give-prescriptionEntity">Give Prescription</a> | <a href="/">Home</a>
</body>
</html>
