<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Prescription</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Add Prescription</h1>
<form th:action="@{/prescription/add}" th:object="${prescription}" method="post">
    <label>Medication: <input type="text" th:field="*{medication}" /></label><br/>
    <label>Dosage: <input type="text" th:field="*{dosage}" /></label><br/>
    <label>Refillable: <input type="checkbox" th:field="*{refillable}" /></label><br/>
    <input type="hidden" th:field="*{patient.id}" />
    <button type="submit">Add Prescription</button>
</form>
</body>
</html>
